selenium
webdriver-manager
discord
python-dotenv
requests
m3u8
ffmpeg-python
chromedriver_autoinstaller
azure-keyvault-secrets
azure-identity
asyncio
undetected-chromedriver
setuptools
asyncpraw
selenium-stealth
praw
sanitize_filename
aiohttp